/*Index*/

.fotos {
    @include grid;
    margin: 10px;
    column-gap: 15px;
    row-gap: 15px;
    padding: 30px
}

.contenedor-2 {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: nowrap;

    .carrusel {
        height: auto;
        width: 1000%;
        display: flex;
        align-self: flex-start;
    }
}

/*sobre el festival*/

.contenedor-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px;
}


/*Historia*/

.contenedor-historia {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;

    .carrusel-historia {
        width: 600px;
    }
}



/*Artistas*/
.contenedor-artistas {
    margin: 15px;
}

.Contenedor-cards {
    @include grid;
    padding: 30px;

    .cards {
        .card-body {
            @include flex;

            width: auto;
            height: 28.125rem;
            margin: 10px;
            background-color: $color-blanco;
            border: 5px solid $color-hover;
            border-radius: 10px;
            padding: 8px;
            margin: 5px;
            align-items: center;
            justify-content: center;

            .btn {
                background-color: $color-hover;
                color: $color-blanco;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 10px;
                align-content: center;
                flex-flow: wrap;
            }

            .card-title {
                text-align: center;
                text-transform: uppercase;
                font-size: 15px;
                padding: 5px;
                color: $color-negro;

            }
        }

        &:hover {
            box-shadow: 0px 0px 30px 1px #d00340;
            transform: scale(0.98);
            border-radius: 8px;
        }
    }
}

.card-text {
    color: $color-negro;
    font-size: 10px;
}



/*Ubicacion*/




.mapa {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    background-color: rgb(0, 255, 255);
    margin: 15px;
}